//////****RESULTICKS****///////

$black-medium:      #333333;
$black-light:       #666666;
$error-text:        #ff3939;
$resul-text:        #060089;

// Background color
$bg-color1:         #f8f8f8;
$bg-color2:         #f2f9ff;
$bg-color3:         #f1f1f1;
$bg-color4:         #e9e9e9;
$bg-color5:         #b8b8b8;
$bg-color6:         #d60000;
$bg-inner:          #040151;
$key-partner-bg:    #009fec;
$contact-label:     #999999;

// Heading color
$heading-color1:    #010068;
$heading-color2:    #479de4;
$heading-color3:    #009bdf;
$bg-head-color1:    #92f0fe;

//Button color
$btn-primary:       #012269;
$btn-primary-hover: #1d45ae;
$btn-link:          #479de4;

// Default
$white:             #ffffff;
$black:             #000000;
$body-text:         #333333;

// SOCIAL MEDIA COLORS
$facebook:           #3B579D;
$twitter:            #00ACED;
$linkedin:           #007BB6;
$youtube:            #C34A47;
$pinterest:          #ca2026;
$google:             #fe5758;

// Footer color
$footerColor1:     #0018f9;
$footerColor2:     #7f04b2;
$footerColor3:     #9e131e;
$footerColor4:     #ce992c;
$footerColor5:     #005f35;

